<footer>
  <div class="menu-bottom">
    <ul>
      <li class="active">
        <img id="ft-consulter" src="/img/consulter.png" alt="Consulter"/>
        <br />
        <a href="{{ path('schoolcontact_connecte_homepage') }}">Consulter</a>
      </li>
      <li>
        <a href="#deposer">
          <img id="ft-deposer" src="/img/deposer-blanc.png" alt="Deposer"/>
          <br />
          Déposer
        </a>
      </li>
      <li>
        <a href="{{ path('schoolcontact_messagerie_homepage') }}">
          <img id="ft-messagerie" src="/img/messagerie-blanc.png" alt="Messagerie"/>
          <br />
          Messagerie
        </a>
      </li>
      <li>
        <a href="{{ path('schoolcontact_gestion_homepage') }}">
          <img id="ft-gestion" src="/img/gestion-blanc.png" alt="Gestion"/>
          <br />
          Gestion
        </a>
      </li>
    </ul>
  </div>
</footer>