<footer>
    <div class="menu-bottom">
        <ul>
              <li class="active">
                <img src="/bootstrap/img/consulter.png" alt="logo" style="width:25px; height:24px;margin-left:9%;" /><br>
                <a href="{{ path('accueil') }}">Accueil</a>
              </li>
              <li><a href="#"><img src="/bootstrap/img/deposer-blanc.png" alt="logo" style="width:25px; height:24px;margin-left:5%;" /><br>Mention</a></li>
              <li><a href="#"><img src="/bootstrap/img/messagerie-blanc.png" alt="logo" style="width:25px; height:24px;margin-left:10%;" /><br>A Propos</a></li>
              <li onclick="javascript:openDialog();"><a href="{{ path('visite') }}"><img src="/bootstrap/img/gestion-blanc.png" alt="logo" style="width:25px; height:24px;margin-left:5%;" /><br>Visite Guidée</a></li>
                </ul>
              
            </ul>
      </div>
      </footer>