## Symfony 2 ignore

# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
bin/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml


## Autres

# Sublime Text 2
sftp-config.json

# System
.DS_Store

#backup files
*~
*bak