parameters:
    database_driver:   pdo_mysql
    database_host:     localhost
    database_port:     ~
    database_name:     schoolcontact
    database_user:     your_database_username
    database_password: your_database_password

    mailer_transport: gmail
    mailer_host:      ~
    mailer_user:      your_gmail_username
    mailer_password:  your_gmail_password

    locale:            fr
    secret:            b2df3e719ea54c7a7deeab5d12368d09

    api_facebook_id: '261648877311458'
    api_facebook_secret: b43b5b0a13af03b4a14db1d2ab6210f3
    api_twitter_id: o2FE5jlMx6rJEzqXcBGA
    api_twitter_secret: b43b5b0a13af03b4a14db1d2ab6210f3
