{% extends 'SchoolcontactFormationBundle::header.html.twig' %}

{% block title %}Gestion{% endblock %}

{% block body %}

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#"><img src="bootstrap/img/logo-navbar.png" alt="logo" style="width:110px; height:46px;" /></a>
          <div class="nav-collapse collapse">
            
            <div class="navbar-form pull-right">
              <ul class="nav">
              <li><a href="home.html"><img src="bootstrap/img/consulter-blanc.png" alt="logo" style="width:15px; height:14px;padding-left:10px;padding-right:10px" />Accueil</a></li>
              <li>
                <a href="#" ><img src="bootstrap/img/deposer-blanc.png" alt="logo" style="width:15px; height:14px;padding-left:10px;padding-right:10px" />Mon Compte</a>
              </li>
            </ul>
            </div>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h3>Hello, Depardieu Gérard!</h3>
        <img src="bootstrap/img/profil.png" alt="logo" style="float:left;width:auto;padding-right:10px" />
        <p>
          Actuellemnt Acteur chez Gaumont Pathé<br>
          Né le 12 janvier 1956, Medum<br>
          <img src="bootstrap/img/mail.png" alt="logo" style="width:20px"/> : mail@gmail.com<br>
          <img src="bootstrap/img/tel.png" alt="logo" style="width:20px"/> : 0612345678
        </p>
        <p></p>
      </div>
<div id="deposer" class="deposer">  
      <div>              
          <a href="#close" title="Close" class="close">X</a>                 
          <form class="form-horizontal">
              <div class="heading" style="margin-left : 30px;">
                <h2 class="form-heading">Déposer un avis</h2>
              </div>
              <div class="pointille"></div>
              <div class="control-group">
                <label class="control-label" style="width:110px" for="inputName">Nom de l'école</label>
                <div class="controls">
                  <div class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Selection <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li class="nav-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
              </div>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" style="width:110px" for="inputResponsable">Votre Avis</label>
                <div class="controls">
                  <textarea name="comments" rows="7" cols="30" required placeholder="vorte avis..."></textarea>
                </div>
              </div>
              <div class="control-group">
                <button type="submit" style="float:right"class="btn btn-primary">Déposer</button>
              </div>
              
              
            </form> 
        
      </div>
    </div>
      <!-- Example row of columns -->
      <div class="box-gestion">
        
          <h2>Back Office de gestion :</h2>
          <div class="pointille"></div>
          <div>
            <ul class="menu-gestion">
              <li class="active">
                <a href="gestion.html">Avis</a>
              </li>
              <li>
                <a href="#">Users</a>
              </li>
              <li>
                <a href="adminEcole.html">Ecole</a>
              </li>
              <li>
                <a href="#">Formation</a>
              </li>
            </ul>
          </div>
          <div class="vide"></div>
          <div class="well">
              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                    <th style="width: 36px;"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Mark</td>
                    <td>Tompson</td>
                    <td>the_mark7</td>
                    <td>
                        <a href="user.html"><i class="icon-pencil"></i></a>
                        <a href="#myModal" role="button" data-toggle="modal"><i class="icon-remove"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Ashley</td>
                    <td>Jacobs</td>
                    <td>ash11927</td>
                    <td>
                        <a href="user.html"><i class="icon-pencil"></i></a>
                        <a href="#myModal" role="button" data-toggle="modal"><i class="icon-remove"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>Audrey</td>
                    <td>Ann</td>
                    <td>audann84</td>
                    <td>
                        <a href="user.html"><i class="icon-pencil"></i></a>
                        <a href="#myModal" role="button" data-toggle="modal"><i class="icon-remove"></i></a>
                    </td>
                  </tr>
                  
                </tbody>
              </table>
          </div>
          <div class="pagination">
              <ul>
                  <li><a href="#">Prev</a></li>
                  <li><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">Next</a></li>
              </ul>
          </div>
          <div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  <h3 id="myModalLabel">Delete Confirmation</h3>
              </div>
              <div class="modal-body">
                  <p class="error-text">Are you sure you want to delete the user?</p>
              </div>
              <div class="modal-footer">
                  <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                  <button class="btn btn-danger" data-dismiss="modal">Delete</button>
              </div>
          </div>
          </div>
      
        
    </div> <!-- /container -->
  <footer>
    <div class="menu-bottom">
        <ul>
              <li class="active">
                <img src="bootstrap/img/consulter-blanc.png" alt="logo" style="width:25px; height:24px;margin-left:12%;" /><br>
                <a href="index.html">Consulter</a>
              </li>
              <li><a href="#deposer"><img src="bootstrap/img/deposer-blanc.png" alt="logo" style="width:25px; height:24px;margin-left:9%;" /><br>Déposer</a></li>
              <li><a href="messagerie.html"><img src="bootstrap/img/messagerie-blanc.png" alt="logo" style="width:25px; height:24px;margin-left:14%;" /><br>Messagerie</a></li>
              <li><a href="#"><img src="bootstrap/img/gestion.png" alt="logo" style="width:25px; height:24px;margin-left:9%;" /><br>Gestion</a></li>
                </ul>
              
            </ul>
      </div>
      </footer>
{% endblock %}