
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>School Contact</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/bootstrap/css/monstyle.css" rel="stylesheet">
    
    <link rel="stylesheet" type="text/css" href="/bootstrap/js/LateralOnScrollSliding/css/demo.css" />
        <link rel="stylesheet" type="text/css" href="/bootstrap/js/LateralOnScrollSliding/css/style.css" />
        <link href='http://fonts.googleapis.com/css?family=Kelly+Slab' rel='stylesheet' type='text/css' />
		<!--[if lt IE 9]>
				<link rel="stylesheet" type="text/css" href="bootstrap/js/LateralOnScrollSliding/css/styleIE.css" />
		<![endif]-->
		<style>
			body{
				background: #f9f9f9 url(images/cloth.jpg) repeat top left;
			}
		</style>
    <link href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
 <script src="/bootstrap/js/bootstrap.js"></script>
 <script src="http://code.jquery.com/jquery.js"></script>
<script src="/bootstrap/js/bootstrap-transition.js"></script>
    <script src="/bootstrap/js/bootstrap-alert.js"></script>
    <script src="/bootstrap/js/bootstrap-modal.js"></script>
    <script src="/bootstrap/js/bootstrap-dropdown.js"></script>
    <script src="/bootstrap/js/bootstrap-scrollspy.js"></script>
    <script src="/bootstrap/js/bootstrap-tab.js"></script>
    <script src="/bootstrap/js/bootstrap-tooltip.js"></script>
    <script src="/bootstrap/js/bootstrap-popover.js"></script>
    <script src="/bootstrap/js/bootstrap-button.js"></script>
    <script src="/bootstrap/js/bootstrap-collapse.js"></script>
    <script src="/bootstrap/js/bootstrap-carousel.js"></script>
    <script src="/bootstrap/js/bootstrap-typeahead.js"></script>
	<script type="text/javascript" src="/LateralOnScrollSliding/js/modernizr.custom.11333.js"></script>


    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#"><img src="/bootstrap/img/logo-navbar.png" alt="logo" style="width:110px; height:46px;" /></a>
          <a class="brand" style="margin-top:15px"href="#newsletter">Newsletter</a>  
          <div class="nav-collapse collapse">
            
            <div class="navbar-form pull-right">
              <ul class="nav">
              <li><a href="home.html"><img src="/bootstrap/img/consulter-blanc.png" alt="logo" style="width:15px; height:14px;padding-left:10px;padding-right:10px" />Accueil</a></li>
            </ul>
            </div>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    
        
   
        <div class="container">
            
            <h1>School Contact - Visite guidée</h1>
            <h2 class="ss-subtitle">School Contact - Visite guidée</h2>
			<div id="ss-links" class="ss-links">
				<a href="#november">Intro</a>
				<a href="#october">Accueil</a>
				<a href="#september">Profil</a>
				<a href="#august">Recherche</a>
				<a href="#july">Messagerie</a>
			</div>
            <div id="ss-container" class="ss-container">
                <div class="ss-row">
                    <div class="ss-left">
                        <h2 id="november">Introdution</h2>
                    </div>
                    <div class="ss-right">
                        <h2></h2>
                    </div>
                </div>
                <div class="ss-row ss-medium">
                    <div class="ss-left">
                        <a  class="ss-circle ss-circle-1"></a>
                    </div>
                    <div class="ss-right">
                        <h3>
                            <a>School Contact est un annuaire communautaire!</a>
                        </h3>
                    </div>
                </div>
				<div class="ss-row ss-large">
                    <div class="ss-left">
                        <h3>
                            <a>Il regroupe la totalité des écoles supérieures françaises, ainsi que leurs formations... </a>
                        </h3>
                    </div>
					<div class="ss-right">
                        <a  class="ss-circle ss-circle-2"></a>
                    </div>
                </div>
				<div class="ss-row ss-medium">
                    <div class="ss-left">
						<a  class="ss-circle ss-circle-3"></a>
                    </div>
					<div class="ss-right">
                         <h3>
                            <a >... des notes sont donnés par les anciens et les actuels étudiants, </a>
                        </h3>
                    </div>
                </div>
				<div class="ss-row ss-medium">
                    <div class="ss-left">
                        <h3>
                            <a >et également des commentaires sur leurs propres expériences!!</a>
                        </h3>
                    </div>
					<div class="ss-right">
                        <a  class="ss-circle ss-circle-4"></a>
                    </div>
                </div>
				
				<div class="ss-row">
                    <div class="ss-left">
                        <h2 id="october">Page</h2>
                    </div>
                    <div class="ss-right">
                        <h2>d'Accueil</h2>
                    </div>
                </div>
				<div class="ss-row ss-large">
                    <div class="ss-left">
                        <h3>
                            <a>L'accueil vous permet de s'inscrire ou de se connecter sur School Contact  </a>
                        </h3>
                    </div>
                    <div class="ss-right">
						<a class="ss-circle ss-circle-8"></a>
                    </div>
                </div>
				<div class="ss-row ss-medium">
                    <div class="ss-left">
                        <a class="ss-circle ss-circle-9"></a>
                    </div>
                    <div class="ss-right">
                        <h3>
                            <a>Inscription / Connexion via Facebook</a>
                        </h3>
                    </div>
                </div>
				<div class="ss-row ss-medium">
                    <div class="ss-left">
                        <a class="ss-circle ss-circle-10"></a>
                    </div>
                    <div class="ss-right">
                        <h3>
                            <a>Inscription / Connexion via Twitter</a>
                        </h3>
                    </div>
                </div>
				<div class="ss-row ss-small">
                    <div class="ss-left">
                        <h3>
                            <a>Remplissage automatique du profil, grâce à vos comptes Facebook ou Twitter</a>
                        </h3>
                    </div>
                    <div class="ss-right">
						<a class="ss-circle ss-circle-15"></a>
                    </div>
                </div>
				<div class="ss-row">
                    <div class="ss-left">
                        <h2 id="september">Page</h2>
                    </div>
                    <div class="ss-right">
                        <h2>Profil</h2>
                    </div>
                </div>
				<div class="ss-row ss-large">
                    <div class="ss-left">
                        <a class="ss-circle ss-circle-16"></a>
                    </div>
                    <div class="ss-right">
                        <h3>
                            <a>Profil toujours visible</a>
                        </h3>
                    </div>
                </div>
				<div class="ss-row ss-small">
                    <div class="ss-left">
                        <a class="ss-circle ss-circle-17"></a>
                    </div>
                    <div class="ss-right">
                        <h3>
                            <a >Modifiable à tout moments</a>
                        </h3>
                    </div>
                </div>
				<div class="ss-row ss-medium">
                    <div class="ss-left">
						<h3>
                            <a>Ajout d'une photo de profil</a>
                        </h3>
                    </div>
                    <div class="ss-right">
						<a class="ss-circle ss-circle-18"></a>
                    </div>
                </div>
                <div class="ss-row ss-medium">
                    <div class="ss-left">
                        <a class="ss-circle ss-circle-19"></a>
                    </div>
                    <div class="ss-right">
                        <h3>
                            <a>Sécurité des informations personnelles:<br>Aucune information personnelle ne sera utilisée ou vendu à des fins commerciales</a>
                        </h3>
                    </div>
                </div>
				<div class="ss-row">
                    <div class="ss-left">
                        <h2 id="august">Module de</h2>
                    </div>
                    <div class="ss-right">
                        <h2>Recherche</h2>
                    </div>
                </div>
				<div class="ss-row ss-large">
                    <div class="ss-left">
						<h3>
                            <a>Un module de recherche puissant !!</a>
                        </h3>
                    </div>
                    <div class="ss-right">
						<a class="ss-circle ss-circle-20"></a>
                    </div>
                </div>
				<div class="ss-row ss-medium">
                    <div class="ss-left">
                        <a class="ss-circle ss-circle-21"></a>
                    </div>
                    <div class="ss-right">
                        <h3>
                            <a>Recherche par type de formation et promotion... </a>
                        </h3>
                    </div>
                </div>
				<div class="ss-row ss-medium">
                    <div class="ss-left">
						<h3>
                            <a>...mais aussi par critères de performance</a>
                        </h3>
                    </div>
                    <div class="ss-right">
						<a class="ss-circle ss-circle-22"></a>
                    </div>
                </div>
				<div class="ss-row ss-small">
                    <div class="ss-left">
                        <a class="ss-circle ss-circle-23"></a>
                    </div>
                    <div class="ss-right">
                        <h3>
                            <a>Ce module vous permettra de trouver l'école et la formation qui vous correspond le mieux</a>
                        </h3>
                    </div>
                </div>
				<div class="ss-row">
                    <div class="ss-left">
                        <h2 id="july">Module de</h2>
                    </div>
                    <div class="ss-right">
                        <h2>Messagerie</h2>
                    </div>
                </div>
				<div class="ss-row ss-medium">
                    <div class="ss-left">
                        <a class="ss-circle ss-circle-25"></a>
                    </div>
                    <div class="ss-right">
                        <h3>
                            <a>School Contact possède sa propre messagerie instantanée</a>
                        </h3>
                    </div>
                </div>
				<div class="ss-row ss-small">
                    <div class="ss-left">
						<h3>
                            <a>Possibilité de contacter des anciens ou actuels étudiants</a>
                        </h3>
                    </div>
                    <div class="ss-right">
						<a class="ss-circle ss-circle-26"></a>
                    </div>
                </div>
				<div class="ss-row ss-large">
                    <div class="ss-left">
                        <a class="ss-circle ss-circle-27"></a>
                    </div>
                    <div class="ss-right">
                        <h3>
                            <a>Messagerie moderne et ergonomique pour ne jamais perdre une conversation...</a>
                        </h3>
                    </div>
                </div>
				<div class="ss-row ss-small">
                    <div class="ss-left">
						<h3>
                            <a>Notifications par mail, lors d'un nouveau message sur School Contact!!!</a>
                        </h3>
                    </div>
                    <div class="ss-right">
						<a class="ss-circle ss-circle-30"></a>
                    </div>
                </div>
                </div>
            </div>
        </div>
    
		
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script type="text/javascript" src="/bootstrap/js/LateralOnScrollSliding/js/jquery.easing.1.3.js"></script>
        <script type="text/javascript">
		$(function() {

			var $sidescroll	= (function() {
					
					// the row elements
				var $rows			= $('#ss-container > div.ss-row'),
					// we will cache the inviewport rows and the outside viewport rows
					$rowsViewport, $rowsOutViewport,
					// navigation menu links
					$links			= $('#ss-links > a'),
					// the window element
					$win			= $(window),
					// we will store the window sizes here
					winSize			= {},
					// used in the scroll setTimeout function
					anim			= false,
					// page scroll speed
					scollPageSpeed	= 2000 ,
					// page scroll easing
					scollPageEasing = 'easeInOutExpo',
					// perspective?
					hasPerspective	= true,
					
					perspective		= hasPerspective && Modernizr.csstransforms3d,
					// initialize function
					init			= function() {
						
						// get window sizes
						getWinSize();
						// initialize events
						initEvents();
						// define the inviewport selector
						defineViewport();
						// gets the elements that match the previous selector
						setViewportRows();
						// if perspective add css
						if( perspective ) {
							$rows.css({
								'-webkit-perspective'			: 600,
								'-webkit-perspective-origin'	: '50% 0%'
							});
						}
						// show the pointers for the inviewport rows
						$rowsViewport.find('a.ss-circle').addClass('ss-circle-deco');
						// set positions for each row
						placeRows();
						
					},
					// defines a selector that gathers the row elems that are initially visible.
					// the element is visible if its top is less than the window's height.
					// these elements will not be affected when scrolling the page.
					defineViewport	= function() {
					
						$.extend( $.expr[':'], {
						
							inviewport	: function ( el ) {
								if ( $(el).offset().top < winSize.height ) {
									return true;
								}
								return false;
							}
						
						});
					
					},
					// checks which rows are initially visible 
					setViewportRows	= function() {
						
						$rowsViewport 		= $rows.filter(':inviewport');
						$rowsOutViewport	= $rows.not( $rowsViewport )
						
					},
					// get window sizes
					getWinSize		= function() {
					
						winSize.width	= $win.width();
						winSize.height	= $win.height();
					
					},
					// initialize some events
					initEvents		= function() {
						
						// navigation menu links.
						// scroll to the respective section.
						$links.on( 'click.Scrolling', function( event ) {
							
							// scroll to the element that has id = menu's href
							$('html, body').stop().animate({
								scrollTop: $( $(this).attr('href') ).offset().top
							}, scollPageSpeed, scollPageEasing );
							
							return false;
						
						});
						
						$(window).on({
							// on window resize we need to redefine which rows are initially visible (this ones we will not animate).
							'resize.Scrolling' : function( event ) {
								
								// get the window sizes again
								getWinSize();
								// redefine which rows are initially visible (:inviewport)
								setViewportRows();
								// remove pointers for every row
								$rows.find('a.ss-circle').removeClass('ss-circle-deco');
								// show inviewport rows and respective pointers
								$rowsViewport.each( function() {
								
									$(this).find('div.ss-left')
										   .css({ left   : '0%' })
										   .end()
										   .find('div.ss-right')
										   .css({ right  : '0%' })
										   .end()
										   .find('a.ss-circle')
										   .addClass('ss-circle-deco');
								
								});
							
							},
							// when scrolling the page change the position of each row	
							'scroll.Scrolling' : function( event ) {
								
								// set a timeout to avoid that the 
								// placeRows function gets called on every scroll trigger
								if( anim ) return false;
								anim = true;
								setTimeout( function() {
									
									placeRows();
									anim = false;
									
								}, 10 );
							
							}
						});
					
					},
					// sets the position of the rows (left and right row elements).
					// Both of these elements will start with -50% for the left/right (not visible)
					// and this value should be 0% (final position) when the element is on the
					// center of the window.
					placeRows		= function() {
						
							// how much we scrolled so far
						var winscroll	= $win.scrollTop(),
							// the y value for the center of the screen
							winCenter	= winSize.height / 2 + winscroll;
						
						// for every row that is not inviewport
						$rowsOutViewport.each( function(i) {
							
							var $row	= $(this),
								// the left side element
								$rowL	= $row.find('div.ss-left'),
								// the right side element
								$rowR	= $row.find('div.ss-right'),
								// top value
								rowT	= $row.offset().top;
							
							// hide the row if it is under the viewport
							if( rowT > winSize.height + winscroll ) {
								
								if( perspective ) {
								
									$rowL.css({
										'-webkit-transform'	: 'translate3d(-75%, 0, 0) rotateY(-90deg) translate3d(-75%, 0, 0)',
										'opacity'			: 0
									});
									$rowR.css({
										'-webkit-transform'	: 'translate3d(75%, 0, 0) rotateY(90deg) translate3d(75%, 0, 0)',
										'opacity'			: 0
									});
								
								}
								else {
								
									$rowL.css({ left 		: '-50%' });
									$rowR.css({ right 		: '-50%' });
								
								}
								
							}
							// if not, the row should become visible (0% of left/right) as it gets closer to the center of the screen.
							else {
									
									// row's height
								var rowH	= $row.height(),
									// the value on each scrolling step will be proporcional to the distance from the center of the screen to its height
									factor 	= ( ( ( rowT + rowH / 2 ) - winCenter ) / ( winSize.height / 2 + rowH / 2 ) ),
									// value for the left / right of each side of the row.
									// 0% is the limit
									val		= Math.max( factor * 50, 0 );
									
								if( val <= 0 ) {
								
									// when 0% is reached show the pointer for that row
									if( !$row.data('pointer') ) {
									
										$row.data( 'pointer', true );
										$row.find('.ss-circle').addClass('ss-circle-deco');
									
									}
								
								}
								else {
									
									// the pointer should not be shown
									if( $row.data('pointer') ) {
										
										$row.data( 'pointer', false );
										$row.find('.ss-circle').removeClass('ss-circle-deco');
									
									}
									
								}
								
								// set calculated values
								if( perspective ) {
									
									var	t		= Math.max( factor * 75, 0 ),
										r		= Math.max( factor * 90, 0 ),
										o		= Math.min( Math.abs( factor - 1 ), 1 );
									
									$rowL.css({
										'-webkit-transform'	: 'translate3d(-' + t + '%, 0, 0) rotateY(-' + r + 'deg) translate3d(-' + t + '%, 0, 0)',
										'opacity'			: o
									});
									$rowR.css({
										'-webkit-transform'	: 'translate3d(' + t + '%, 0, 0) rotateY(' + r + 'deg) translate3d(' + t + '%, 0, 0)',
										'opacity'			: o
									});
								
								}
								else {
									
									$rowL.css({ left 	: - val + '%' });
									$rowR.css({ right 	: - val + '%' });
									
								}
								
							}	
						
						});
					
					};
				
				return { init : init };
			
			})();
			
			$sidescroll.init();
			
		});
		</script>
     <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster
    <script src="bootstrap/js/bootstrap.js"></script>

    <script src="bootstrap/js/jquery.js"></script>
    <script src="../assets/js/bootstrap-transition.js"></script>
    <script src="../assets/js/bootstrap-alert.js"></script>
    <script src="../assets/js/bootstrap-modal.js"></script>
    <script src="../assets/js/bootstrap-dropdown.js"></script>
    <script src="../assets/js/bootstrap-scrollspy.js"></script>
    <script src="../assets/js/bootstrap-tab.js"></script>
    <script src="../assets/js/bootstrap-tooltip.js"></script>
    <script src="../assets/js/bootstrap-popover.js"></script>
    <script src="../assets/js/bootstrap-button.js"></script>
    <script src="../assets/js/bootstrap-collapse.js"></script>
    <script src="../assets/js/bootstrap-carousel.js"></script>
    <script src="../assets/js/bootstrap-typeahead.js"></script>
-->
  </body>
</html>
