body {
	padding-top: 60px;
}

#container-base {
	margin-top: 7px;
}

#logo2{
	width: 100%;
	text-align: center;
	color: #6A6A6A;
}

.menu-bottom > ul > li{
	display: block;
	float: left;
	width: 25%;
	text-align: center;
	margin-bottom: 5px;
}

.menu-bottom > ul > li > img{
	height: 25px;
}

footer{
	margin-top: 20px;
}

.modalDialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
	overflow: scroll;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 30%;
	position: relative;
	margin: 20% auto;
	padding: 25px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}