{% extends 'SchoolcontactFormationBundle::layout.html.twig' %}

{% block title %}Accueil {% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/monstyle.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="container avgrund-contents" >
	<div id="logo">
		<img alt="logo School Contact" src="/img/logoXL.png" width="50%"/>
		<h3 class="accorche">School Contact vous permet de rester en contact avec votre école et toute sa communauté !</h3>
	</div>
	
	<div id="blocForm">
		<div id="inscription">
			<h3>Inscription</h3>
			<form id="formInsc">
			  <fieldset>				
			    <ul>
			      <li>
			        <label class="labelInsc" for=nom>Nom</label>
			        <input id="nom" name="nom" type="text" placeholder="Dupont" required autofocus>
			      </li>
			      <li>
			        <label class="labelInsc" for=nom>Prénom</label>
			        <input id="prenom" name="prenom" type="text" placeholder="Bernard" required autofocus>
			      </li>
			      <li>
			        <label class="labelInsc" for=nom>Date de naissance</label>
			        <input id="date" name="date" type="date"  required autofocus>
			      </li>
			      <li>
			        <label class="labelInsc" for=email>Email</label>
			        <input id=email name=email type=email placeholder="exemple@domaine.com" required>
			      </li>
			      <li>
			        <label class="labelInsc" for=nom>Mot de passe</label>
			        <input id="mdp" name="mdp" type="password" pattern=".{8,}" placeholder="Min. 8 caratères" required autofocus>
			      </li>
			    </ul>
			  </fieldset>
			  <fieldset>
			    <button id="valide" type=submit>OK</button>
			  </fieldset>
			</form>
		</div>
		
		<div id="connexion">
			<h3>Connexion</h3>
			<form id="formInsc">
			  <fieldset>				
			    <ul>
			      <li>
			        <label class="labelInsc" for=email>Email</label>
			        <input id=email name=email type=email placeholder="exemple@domaine.com" required>
			      </li>
			      <li>
			        <label class="labelInsc" for=nom>Mot de passe</label>
			        <input id="mdp" name="mdp" type="password" pattern=".{8,}" placeholder="Min. 8 caratères" required autofocus>
			      </li>
			    </ul>
			  </fieldset>
			  <fieldset>
			    <button id="valide" type=submit>OK</button>
			  </fieldset>
			</form>
		</div>
	</div>
</div> <!-- /container -->
{% endblock %}
