<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Nous contacter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/web/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/web/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/web/bootstrap/css/style.css" rel="stylesheet">

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/web/bootstrap/js/bootstrap.js"></script>
    
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#"><img src="/web/bootstrap/img/logo-navbar.png" alt="logo" style="width:110px; height:46px;" /></a>
          <div class="nav-collapse collapse">
            
            <div class="navbar-form pull-right">
              <ul class="nav">
              <li class="active"><a href="home.html"><img src="/web/bootstrap/img/consulter-blanc.png" alt="logo" style="width:15px; height:14px;padding-left:10px;padding-right:10px" />Accueil</a></li>
              <li>
                <a href="#" ><img src="/web/bootstrap/img/deposer-blanc.png" alt="logo" style="width:15px; height:14px;padding-left:10px;padding-right:10px" />Mon Compte</a>
              </li>
            </ul>
            </div>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <div class="span12" style="margin-top : 100px; background-color : #eee; border-radius:15px;">
        <div class="span6" style="margin-top : 10px;">
          <div class="area">
            <form class="form-horizontal" style="margin-left: 275px;">
              <div class="heading" style="margin-left : 10px;">
                <h4 class="form-heading">Nous contacter</h4>
              </div>
              <div class="control-group">
                <label class="control-label" for="inputName">Nom</label>
                <div class="controls">
                  <input type="text" id="inputName" required placeholder="Nom...">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="inputResponsable">Prénom</label>
                <div class="controls">
                  <input type="text" id="inputPrenom" required placeholder="Prenom...">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="inputEmail">Email</label>
                <div class="controls">
                  <input type="text" id="inputEmail" required placeholder="Email...">
                </div>
              </div>
              <div class="control-group">
               <label class="control-label" for="inputIdentifiant">Sujet</label>
                <div class="controls">
                  <input type="text" id="inputSujet" required placeholder="Sujet...">
                </div>
              </div>
			  <div class="span5">
			<label>Message</label>
			<textarea name="message" id="message" class="input-xlarge span5" rows="10"></textarea>
		</div>
              <div class="control-group" >
                <div class="controls">
                  <button type="submit" class="btn btn-primary" style="margin-top: 20px; margin-left: 40px;">Envoyer</button>
                </div>
              </div>  
			 
              <div class="alert alert-info" style="width : 475px;">
                <button type="button" class="close" data-dismiss="alert"> </button>
                <strong>Confirmation: </strong> Votre demande de contact a bien été envoyée !<br>
              </div>
            </form> 
          </div>                            
        </div>
      </div>
    </div> <!-- /container -->
  <!--<footer>
    <div class="menu-bottom">
        <ul>
              <li class="active">
                <img src="bootstrap/img/consulter.png" alt="logo" style="width:25px; height:24px;margin-left:12%;" /><br>
                <a href="home.html">Consulter</a>
              </li>
              <li><a href="#"><img src="bootstrap/img/deposer-blanc.png" alt="logo" style="width:25px; height:24px;margin-left:9%;" /><br>Déposer</a></li>
              <li><a href=""><img src="bootstrap/img/messagerie-blanc.png" alt="logo" style="width:25px; height:24px;margin-left:14%;" /><br>Messagerie</a></li>
              <li><a href="#"><img src="bootstrap/img/gestion.png" alt="logo" style="width:25px; height:24px;margin-left:9%;" /><br>Gestion</a></li>
                </ul>
              
            </ul>
      </div>
      </footer>-->
  </body>
</html>
