{% extends 'SchoolcontactFormationBundle::layout.html.twig' %}

{% block title %}Nous contacter {% endblock %}

{% block body %}
  <div class="container">
    <div class="span12" style="margin-top : 100px; background-color : #eee; border-radius:15px;">
      <div class="span6" style="margin-top : 10px;">
        <div class="area">
          <form class="form-horizontal" style="margin-left: 275px;">

            <div class="heading" style="margin-left : 10px;">
              <h4 class="form-heading">Nous contacter</h4>
            </div>

            <div class="control-group">
              <label class="control-label" for="inputName">Nom</label>
              <div class="controls">
                <input type="text" id="inputName" required placeholder="Nom...">
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="inputResponsable">Prénom</label>
              <div class="controls">
                <input type="text" id="inputPrenom" required placeholder="Prenom...">
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="inputEmail">Email</label>
              <div class="controls">
                <input type="text" id="inputEmail" required placeholder="Email...">
              </div>
            </div>

            <div class="control-group">
             <label class="control-label" for="inputIdentifiant">Sujet</label>
              <div class="controls">
                <input type="text" id="inputSujet" required placeholder="Sujet...">
              </div>
            </div>

            <div class="span5">
              <label>Message</label>
              <textarea name="message" id="message" class="input-xlarge span5" rows="10"></textarea>
            </div>

            <div class="control-group" >
              <div class="controls">
                <button type="submit" class="btn btn-primary" style="margin-top: 20px; margin-left: 40px;">Envoyer</button>
              </div>
            </div>  
  	 
            <div class="alert alert-info" style="width : 475px;">
              <button type="button" class="close" data-dismiss="alert"> </button>
              <strong>Confirmation: </strong> Votre demande de contact a bien été envoyée !<br>
            </div>
            
          </form> 
        </div>                            
      </div>
    </div>
  </div> <!-- /container -->
{% endblock %}
