{% extends 'SchoolcontactFormationBundle::layout.html.twig' %}

{% block title %}Inscription école {% endblock %}

{% block body %}
    <div class="container">

      <div class="span12" style="margin-top : 100px; background-color : #eee; border-radius:15px;">
        <div class="span5" style="margin-top : 50px; font-size : 16px;">
          <h4>Vous êtes une école en manque de visibilité? School Contact sera le coup de boost qu'il vous manque !</h4>
          <span><img src="/img/fleche.gif" style="height:30px;"/>Consulter en temps réel les avis postés par les étudiants.</span><br/><br/>
          <span><img src="/img/fleche.gif" style="height:30px;"/>School Contact vous offre la possibilité de répondre aux avis donnés sur votre école.</span><br/><br/>
          <span><img src="/img/fleche.gif" style="height:30px;"/>Envie de vous retrouver en tête de liste, rien de plus simple avec School Contact.</span><br/><br/>
          <span><img src="/img/fleche.gif" style="height:30px;"/>Une nouvelle formation? Faites le savoir sur notre page d'accueil.</span><br/><br/>
          <span><img src="/img/fleche.gif" style="height:30px;"/>Envie de dialoguer avec des étudiants. School Contact met une messagerie à votre disposition.</span><br/><br/>
          <h3 style="text-align:center;">Rejoignez-nous !</h3>
        </div>
        <div class="span6" style="margin-top : 10px;">
          <div class="area">
            <form class="form-horizontal">
              <div class="heading" style="margin-left : 30px;">
                <h4 class="form-heading">Formulaire d'inscription</h4>
              </div>
              <div class="control-group">
                <label class="control-label" for="inputName">Nom de l'école</label>
                <div class="controls">
                  <input type="text" id="inputName" required placeholder="Sciences-U Lyon">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="inputResponsable">Nom du responsable</label>
                <div class="controls">
                  <input type="text" id="inputResponsable" required placeholder="M. Poireaux">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="inputAdresse">Adresse</label>
                <div class="controls">
                  <input type="text" id="inputAdresse" required placeholder="32, rue des glandeurs">
                </div>
                <label class="control-label" for="inputCP">C.P</label>
                <div class="controls">
                  <input type="text" id="inputCP" required placeholder="69003">
                </div>
                <label class="control-label" for="inputVille">Ville</label>
                <div class="controls">
                  <input type="text" id="inputVille" required placeholder="Lyon">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="inputEmail">Email</label>
                <div class="controls">
                  <input type="text" id="inputEmail" required placeholder="toto@gmail.com">
                </div>
              </div>
              <div class="control-group">
               <label class="control-label" for="inputIdentifiant">Identifiant</label>
                <div class="controls">
                  <input type="text" id="inputIdentifiant" required placeholder="ChèvreDu69">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="inputPassword">Password</label>
                <div class="controls">
                  <input type="password" id="inputPassword" required placeholder="">
                </div>
              </div>
              <div class="control-group">
                <div class="controls">
                  <label class="checkbox">
                    <input type="checkbox"> J'accepte les <a href="#">conditions générales d'utilisations</a>
                  </label>
                  <button type="submit" class="btn btn-primary">S'inscrire</button>
                </div>
              </div>  
              <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong>Confirmation: </strong> Un email de confirmation vous a été envoyé.<br>
                Bienvenue dans la grande communauté School Contact.
              </div>
            </form> 
          </div>                            
        </div>
      </div>
    </div> <!-- /container -->
{% endblock %}